body {
    background-color: #f5f5f5;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Chakra Petch', sans-serif;
}

button {
    font-family: 'Chakra Petch', sans-serif;
}

input {
    font-family: 'Chakra Petch', sans-serif;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button{
    cursor: pointer
}