#article-container {
    background-color: lightgray;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#all-img {
    width: 500px;
    height: auto;
}

#article-top {
    padding: 0 20px;
    width: 100%;
}

.italic {
    font-style: italic;
}

#article-header {
    text-align: left;
    font-size: 1.5rem;
}

#emoji-container {
    display: flex;
    flex-direction: row;
}

#emoji-container p {
    display: flex;
    flex-direction: row;
    margin: 0 35px 0 0;
}

#article-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

#article-top-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#all-articles-author {
    font-weight: bold;
    margin: 0;
}

#all-page-view-more {
    background-color: #282828;
    color: #f5f5f5;
    border: none;
    padding: 10px;
}

#all-page-view-more:hover {
    color: #f5e929;
}

#sorting-loading {
    height: 100%;
}