header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

#user-greeting {
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }