header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    color: #f5f5f5;
    padding: 30px;
    width: 100%;
}

h1 {
    font-size: 6rem;
    text-decoration: none;
    color: #f5f5f5;
    margin: 0;
}

h1:hover {
    /* color: blue; */
    color: #f5e929;
}

h1:active {
    color: #fff9a4;
}

#user-greeting {
    font-size: 2rem;
    color: #f5f5f5;;
}

#right-side-header {
    display: flex;
    flex-direction: column;
}

#right-side-header p{
    margin: 5px
}

#date {
    text-align: right;
    color: #f5f5f5;
}

@media only screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #user-greeting {
        font-size: 1.5rem;
    }
  }

  @media only screen and (max-width: 850px) {
    h1 {
        font-size: 4rem;
    }
    #user-greeting {
        font-size: 1.5rem;
    }
  }