#homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.website-greet {
    font-size: 3rem;
    margin: 20px 0 0 0;
}

#spotlight-intro {
    margin: 20px 0 0 0;
}