nav {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 250px;
    text-align: center;
    height: auto;
    background-color: #d3d3d3;
}

nav h3 {
    padding: 20px;
    margin: 0;
    background-color: transparent;
    text-align: left;
}

.drop-down-organiser {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
}

.dropdown-button {
    text-align: left;
    width: 250px;
    border: none;
    padding: 15px 15px 15px 30px;
    cursor: pointer;
    background-color: #282828;
    color: #d3d3d3;
}
.dropdown-button:hover {
    width: 100%;
    border: none;
    cursor: pointer;
    color:#f5e929;
    ;
}

#topics-loading {
    text-align: left;
    padding-left: 30px;
}

#view-all-button {
    width: 250px;
    text-align: left;
}

#topic-section-button, #view-all-button {
    text-align: left;
    border: none;
    padding: 15px;
    font-size: 1rem;
}

#topic-section-button, #view-all-button {
    background-color: #d3d3d3;
}

#topic-section-button:hover, #view-all-button:hover {
    /* background-color: red; */
    font-weight: bold;
}

@media only screen and (max-width: 850px) {
    nav {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        width: 100%;
        height: 100%;
    }
    .dropdown-button, #view-all-button, .drop-down-organiser {
        width: 100%;
    }
  }