
#main-body-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media only screen and (max-width: 850px) {
  #main-body-container {
    display: flex;
    flex-direction: column;
  }
}

#non-existent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}