main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#entire-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#total-amount-num {
    text-align: center;
    margin-top: 50px;
}

.page-title {
    text-align: center;
}

#query-error {
    text-align: center;
}

#error-container {
    width: 100%;
}